html{
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
    background-color:#3F54BF;
}
body{
    width: 720px;
    margin: 0 auto;
    background-color: black;
    padding: 0 20px 20px 20px;
    board: 5px solid black;
}
h2{
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow:-5px -5px 3px grey;
    font-size: 60px;
    text-align :center;
}

p,li{
    color:white;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

image{
    dispaly: block;
    margin 0 auto;
}
a{
    font-size: 18px;
    color: yellow;
}
